<tr>
  <th>&nbsp;</th><!-- Non-breaking space -->
  {{#each date}}
  <th class="header-date">
    <h4 class="header-date-day">{{weekDay}}</h4>
    <p class="header-date-name">{{dateName}}</p>
  </th>
  {{/each}}
</tr>
