<tr>
  <th>&nbsp;</th><!-- Non-breaking space -->
  {{#each weekDays}}
  <th class="header-date">
    <h4 class="header-date-day">{{formatDate this "dddd"}}</h4>
    <p class="header-date-name">{{formatDate this "D MMMM YYYY"}}</p>
  </th>
  {{/each}}
</tr>
