<h1>My Calendar Widget</h1>

<nav class="wrapper-nav">
  <!-- Here go the controls -->
</nav>

<table class="calendar table table-bordered">
    <thead class="wrapper-header">
      <!-- Here go the header with week days-->
    </thead>
    <tbody class="wrapper-slots">
      <!-- Here go the slots -->
    </tbody>
</table>
