{{#each hours}}
<tr>
    <td>{{this}}</td>
    {{#each weekDays}}
    <td class="">
    <!-- Here will go the slots -->
    </td><!-- TODO: set coordinates in the className or data-attribute using hour/weekDay tuples -->
    {{/each}}
</tr>
{{/each}}
